.projects{
    background-color: rgb(25,24,26);
    width: 100%;
}
.projects_content{
    width: 75%;
    margin: auto;
}
.projects_content>h1{
    text-align: center;
    color: rgb(242,136,9) ;
    padding-top: 15px;
    font-size: 50px;
}
.projects_box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.specific{
    background-color: #FFFFFF;
   text-align: center;
   width: 30%;
   margin-top: 40px;
   margin-bottom: 50px;
   height: 300px;
   border-radius: 10px;
   transition: transform 450ms;
}
.specific>img{
    width: 100px;
    height: 160px;
    object-fit: contain;
    cursor: pointer;
   
}
.specific>h2{
    cursor: pointer;
}
.specific>h3{
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    background:linear-gradient(to right , rgb(122, 122, 241) , pink);
}
.specific:hover{
    transform: scale(1.08);
   box-shadow: 5px 10px 10px 10px grey;
   margin-left: 10px;
   
   
}