.about{
    background-color: #D1D7E0;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
}
.about_content{
    width: 75%;
    margin: auto;
    
}
.about_content>h2{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
}
.skills_list,.backend_skills_list{
    font-size: 40px;
    font-weight: 100;
}

.about_skills,.backendskills{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
   
}
.frontEnd_image,.backEnd_image{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
}
