.contact{
    background-color:#4C495D ;
    width: 100%;
    text-align: center;
}
.contact_head{
    text-align: center;
    color: #ffff;
    font-size: 40px;
    font-weight: 500;
}
.contact_container{
    display: flex;
    justify-content: space-evenly;
    
}
.contact_social{
    margin-bottom: 20px;
}
.social_head{
    font-size: 40px;
    font-weight: 100;
    color: #ffff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.email_add{
    font-weight: 100;
    color: #ffff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.icons{
    color: #ffff;
    margin-left: 15px;
}
.contact_resume >h1{
    color: #ffff;

}
.resume_{
    color: #ffff !important;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px !important;
    cursor: pointer;
}
.icons:hover,.resume_:hover{
    box-shadow: 5px 5px 10px  rgb(109, 25, 25);
}
@media only screen and (max-width: 600px){
    .contact_container{
        flex-direction: column;
        
    }
}