.contact{
    width: 100%;
}
.contact_container{
    width: 75%;
    margin: auto;
    text-align: center;
    
}
.contact_details{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.contact_container>small{
    color: lightslategray;
}
.contact_container>h3{
    color: #00aaff;
}
.contact_from_social{
    width: 40%;
}
.contact_Email{
    width: 40%;
}
.contact_form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact_form>input{
    background: transparent;
    font-size: 18px;
    color: #00aaff;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #00aaff;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}
.contact_form>textarea{
    width: 100%;
    border: 1px solid #00aaff;
    color: #00aaff;
    outline: none;
    border-radius: 10px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}