.header>.header_con{
    background-color: #802BB1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: #D1D7E0;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.header>.header_con>h2{
    font-weight: 100;
    font-size: 35px;
    font-family: "Titillium Web", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width:500px){
    .header>.header_con{
        flex-direction: column;
    }
    .header>.header_con>h2{
        text-align: center;
    }
}