.header{
    position: fixed;
    bottom: 10px;
    left: 30%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    background: rgba(167, 154, 154, 0.2); 
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
.header_icons{
    color: lightgray !important;
    border-radius: 50%;
}

.active{
    background-color:#00aaff;
    color: black !important;
}