body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#050529;
  color: #ffff;
  width: 100%;
}
a{
  text-decoration: none;
}
*{
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  scroll-behavior: smooth;
}
/* width of scroll bar background*/
::-webkit-scrollbar {
  width: 10px;
}

/* top botton of scroll */
::-webkit-scrollbar-thumb {
  background: #88819e; 
  border-radius: 10px;
}